[Desktop Entry]
Type=Application
Name=RooTitanium
Comment=Browser WebEngine (PoC)
Exec=/home/defaultuser/webengine-smoke/run.sh
Icon=/home/defaultuser/webengine-smoke/rootitanium.png
Categories=Network;WebBrowser;
